body {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

#wrapper {
  height: auto;
  min-height: calc(100vh - 180px);
  padding-bottom: 128px;
}

button {
  cursor: pointer;
}

button span:hover {
  color: #a4a4a4;
}

#header {
  height: 48px;
  padding: 24px 24px 0 24px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header img {
  width: 280px;
  height: auto;
  background-color: #fff;
}

#src-kream {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 24px;
}

#shop-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 48px;
  background-image: url(../img/03.png);
  background-size: cover;
}

::-moz-selection {
  color: #fff;
  background-color: #3a5b9b;
}

::selection {
  color: #fff;
  background-color: #3a5b9b;
}

.main-desc {
  width: calc(50% - 48px);
  padding: 128px 24px 48px 24px;
  -webkit-column-count: 1;
     -moz-column-count: 1;
          column-count: 1;
  word-break: keep-all;
}

.main-desc p br::after {
  padding-left: 24px;
}

.main-desc p {
  line-height: 1.6;
}

.indent {
  text-indent: 32px;
}

.list-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 48px 0;
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 48px;
}

.list-number {
  border: 0;
  background-color: transparent;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-number img {
  height: 32px;
}

.list-item {
  width: 160px;
  border: 0;
  background-color: transparent;
  font-family: "angie-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.5rem;
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-item, .image-gallery {
  display: none;
}

.image-gallery {
  padding: 48px 24px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-gallery .info {
  width: 100%;
  padding-bottom: 24px;
}

.image-gallery .info p {
  line-height: 1.6;
  width: calc(50% - 24px);
  word-break: keep-all;
}

.image-gallery .info p:not(:first-child) {
  text-indent: 32px;
}

.image-gallery .info-img {
  width: calc(50% - 24px);
  padding: 8px 0 0 0;
  line-height: 1;
}

.image-gallery .info-img img {
  width: 100%;
}

#info-img-1, #info-img-2 {
  padding: 24px 0;
}

#info-img-2 img {
  width: 50%;
}

.img-desc-c {
  width: 50%;
  padding: 8px 8px 0 0;
  margin-bottom: -4px;
}

.img-desc-c img {
  width: 100%;
}

.img-desc {
  width: 16.6666666667%;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9e9e9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-desc img {
  height: 80%;
  width: auto;
}

.item-container {
  padding: 8px 0;
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(50% - 6px);
  /*border-top: 1px solid #000;*/
}

.item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
}

.item-img-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  gap: 8px;
}

.item-img-main img {
  background-color: #e9e9e9;
  width: 40%;
}

.item-img-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
}

.item-img-add img {
  width: 60%;
}

.twice img {
  width: 45%;
}

.triplet img {
  width: calc(33.3333333333% - 6px);
}

.item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-break: keep-all;
}

.item-info .title {
  margin-top: 8px;
  color: #3a5b9b;
}

.item-detail {
  padding: 0;
  margin: 8px 0 0 0;
  list-style: none;
}

.item-detail li {
  border-top: 1px solid #000;
  line-height: 1.4;
  width: auto;
}

.item-detail li:last-child {
  border-bottom: 1px solid #000;
}

/*
.item-detail li::marker {
  content: "*";
  font-size: 1em;;
}*/
#gallery-1, #gallery-2 {
  gap: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#gallery-2 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.campaign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  flex-direction: column;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.archive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  flex-direction: column;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.campaign-title, .archive-title {
  width: calc(50% - 6px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.campaign img, .archive img {
  width: calc(50% - 6px);
}

#footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#footer a img {
  width: 5vw;
}

@media all and (max-width: 720px) {
  #header {
    padding: 8px;
  }
  #header img {
    width: 220px;
  }
  #src-kream {
    right: 8px;
  }
  .main-desc {
    width: 100%;
    padding: 64px 8px 48px 8px;
  }
  .image-gallery {
    width: 100%;
  }
  .image-gallery .info p {
    width: auto;
  }
  .image-gallery .info p:not(:first-child) {
    text-indent: 24px;
  }
  .image-gallery .info, .image-gallery .info-img {
    width: 100%;
  }
  .indent {
    text-indent: 0;
  }
  .main-desc p:not(:first-child) {
    text-indent: 24px;
  }
  .list-wrapper {
    padding: 0;
  }
  .list-number, .list-item {
    height: 32px;
  }
  .list-number img {
    height: 24px;
  }
  .list-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
  .item-container {
    width: 100%;
  }
  #gallery-1, #gallery-2 {
    gap: 8px;
  }
  .image-gallery {
    padding: 48px 8px;
  }
  .img-desc {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .img-desc-c {
    width: 100%;
    padding: 8px 0 0 0;
  }
  .item-img-add {
    gap: 4px;
  }
  .archive-title {
    padding-top: 24px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .triplet img {
    width: calc(33.3333333333% - 3px);
  }
  .campaign-title {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #gallery-3 img {
    width: 100%;
  }
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer a img {
    width: 15vw;
  }
}/*# sourceMappingURL=description.css.map */