button {
  cursor: pointer;
}

#header {
  padding: 24px 0;
  width: auto;
  display: flex;
  justify-content: center;
}

#header img {
  width: 280px;
  height: auto;
}

.test {
  padding: 48px;
  word-spacing: 0.05em;
  column-count: 2;
  column-gap: 64px;
  word-break: keep-all;
}

.test p {
  line-height: 1.5;
}

.list-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 48px 0;
}

.list-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.list-number {
  border: 0;
  background-color: transparent;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-number img{
  height: 32px;
}

.list-item {
  width: 160px;
  border: 0;
  background-color: transparent;
  font-family: "angie-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.5rem;
  color: #3a5b9b;
  justify-content: center;
}

.list-item, .image-gallery {
  display: none;
}

.image-gallery {
  padding: 48px;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.img-desc {
  width: calc((100% / 6) - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gallery-1, #gallery-2, #gallery-3 {
  justify-content: center;
  padding-bottom: 128px;
}

#gallery-1 img, #gallery-2 img, #gallery-3 img {
  width: 50%;
}

.img-desc img{
  width: 100%;
  height: auto;
}

#footer {
  padding: 128px 0 64px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
}

#footer a img {
  width: 5vw;
}

@media all and (max-width:720px) {

  
  #header img {
    width: 60vw;
  }

  .test {
    column-count: 1;
    padding: 48px 12px;
  }

  .list-number, .list-item{
    height: 32px;
  }

  .list-number img{
    height: 24px;
  }

  .list-container {
    flex-direction: column;
    gap: 24px;
  }

  .image-gallery {
    padding: 12px;
    gap: 8px;
  }

  .img-desc {
    width: calc(50% - 4px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #gallery-1 img, #gallery-2 img, #gallery-3 img {
    width: 100%;
  }

  #footer {
    padding: 128px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #footer a img {
    width: 15vw;
  }

}